/* Seletor */

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2.9px;
}


h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.0rem;

}

h3 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.0rem;

}

h4 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 1.0rem;
    font-weight: lighter;
}

h5 {
    font-family: Montserrat, sans-serif;
    font-size: 1.0rem;
    font-weight: lighter;
    letter-spacing: -1.0px;
    font-size: 19px;
    margin: 50px;
}


p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-align: justify;
    letter-spacing: -1.0px;
    font-size: 19px;
}

img {
    border-radius: 13px;
}

ul {

}

span {
        text-overflow: ellipsis;
}

/* Id's */

#logo {
    width: 200px;
    height: 100px;
    display: block;
    margin: 0px auto;
    margin-top: -20px;
    margin-bottom: -25px;
}

#menu {
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10;
}

#menu-biografia {
    text-align: center;
    color: white;
    background-color: #270905;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10;
}

#promo {
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 10;
    margin-top: 100px;
}

#banner {
    display: block;
    margin: 0px auto;

}

#imgpromo {
    margin: 15px;
}

#img-desconto {
    float: right;
}

#desconto {
    float: left;
    border-radius: 13px;
}

#conteudo {
    float: left;
    width: 280px;
    margin: 18px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#logo-app {
    border-radius: 13px;
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-top: 50px;

}

#phone {
    margin-top: -5px;
}

#banner2 {
    margin-left: 100px;
}

#bio-col1 {
    float: left;
    margin: 50px;
    margin-left: 250px;
    padding: 20px;
    
}


#bio-col2 {
    float: right;
    margin: 50px;
    padding: 20px;
    margin-right: 250px;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 5px 5px 5px 5px rgb(243, 243, 243);
}

#contato-col2 {
    margin-right: 300px;
    float: right;
    width: 400px;

}

#loc-col2 {
    float: right;
    margin: 50px;
    padding: 20px;
    margin-right: 100px;

}

#menu-fixo {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

/* Classes */

.borda-redonda {
    border-radius: 13px;
}

.black-bg {
    background-color: black;
    border-radius: 13px;
}

.centralizar {
    margin: 0px auto;
    width: max-content;
}
.block-display {
    display: block;
}

.ann {
    float: right;
}

.p-embaixo {
    width: 250px;
    text-align: justify;
    float: left; 
}

.p-lateral {
    width: 500px;
    text-align: justify;
    float: left; 
    clear: both;
    padding-top: 100px;
    letter-spacing: -1.0px;
    font-size: 19px;
    padding-left: 230px;
    padding-right: 230px;
    
}

.center-text {
    border: 1px solid;
    float: left;
}

.clear {
    clear: both;
}



.justificar {
    text-align: justify;
}

.box-col {
    align-items: stretch;
}

.col-1 {
    background-image: linear-gradient(to bottom right,  #69242C, #270905, #190b55);
    color: white;
    border-radius: 13px;
    float: left;
    width: 500px;
    height: 600px;
    margin-left: 150px;
    margin-right: 25x;

}

.col-2 {
    background-image: linear-gradient(to bottom right,  #190b55, #270905);
    color: white;
    border-radius: 13px;
    float: left;
    width: 500px;
    height: 600px;
    margin-left: 25px;
    margin-right: 150px;
}

.fundo {
    background: #fcfcfc;
}

.card {
    text-align: center;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 5px 5px 5px 5px rgb(243, 243, 243);
}

.btn {
    background: #270905;
    color: #fcfcfc;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;

}

.vinho {
    color: #270905;

}
